@import 'colors';
@import 'fonts';
@import 'mymixins';
@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/brands.scss';

// 360 width for mobile device
html{
    font-family: montserrat, Arial, Helvetica, sans-serif;
}
h1, h2, h3,
h4, h5, h6 {
    font-family:  Merriweather-Bold, Garamond, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
} 
h1{
    font-size: 2.44em;
}
h2{
    font-size: 2.25em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.37em;
}
h5{
    font-size: 1.12em;
}
h6{
    font-size: 1em;
}
body{
    padding: 0;
    margin: 0;
}
.text{
    &-accent{
    color: $color-accent;
        &-bold{
            @extend .text-accent;
            font-weight: bold;
        }
    }
    &-size08{
        font-size: 0.875em;
    }
    &-size11{
        font-size: 1.12em;
    }
    &-size15{
        font-size: 1.5em;
    }
}
.button{
    text-decoration: none;
    color: $color-white;
    background-color: $color-accent;
    display: block;
    width: 250px;
    height: 65px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125em;
    font-weight: 700;
    &:hover, &:focus{
        background-color: darken($color-accent, 10%);
    }
    span{
        font-size: 1.25em;
    }
    p{
        margin-left: 10px;
    }
}
header{
    #header-bg{
        background-image: url('../images/header.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 360px;
        min-height: 200px;
        height: 55vw;
    }
    #call-to-action{
        background-color: $color-white;
        padding: 10px 10px 20px 10px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        &-title{
            font-size: 2em;
        }
        &-button{
            margin: auto;
        }
    }
}
section{
    margin-top: 50px;
    padding: 10px;
    a{
        text-decoration: none;
        &:hover:not(.button), &:focus:not(.button){
            filter: brightness(90%);
            text-decoration: underline;
        }
    }
    article{
        &+article{
            margin-top: 50px;
        }      
    }
}
#possibilities{
    article{
        display: flex;
        flex-direction: column;
        img{
            align-self: center;
            width: 80%;
            max-width: 320px;
        }
    }
}
footer{
    background-color: $color-gray;
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    
    h3{
        text-align: center;
    }
    blockquote{
        margin: auto;
        width: 150px;
        font-size: 3em;
        font-family: Merriweather-Bold;
        font-weight: 700;
        font-style: normal;
    }
    ul{
        list-style: none;
        padding: 0;
        a{
            color: $color-black;
            &:visited{
                color: $color-black;
            }
            &:hover, &:focus{
                color: lighten($color-black, 10%);
                
            }
        }
        
    }
}