//Path to all icons
$icon-default-path:'../icons/globe.svg';
$icon-globe-path: '../icons/globe.svg'; //8
$icon-start-path: '../icons/start.svg';//9
$icon-choose-path: '../icons/choose.svg'; //3
$icon-build-path: '../icons/build.svg'; //2
$icon-community-path: '../icons/community.svg'; //4
$icon-availability-path: '../icons/availability.svg'; //1
$icon-convenience-path: '../icons/convenience.svg'; //5
$icon-describe-path: '../icons/describe.svg'; //6
$icon-editorial-path: '../icons/editorial.svg'; //7
//----------------------------------------------------//