//Path to all icons
$icon-default-path:'../icons/globe.svg';
$icon-globe-path: '../icons/globe.svg'; 
$icon-start-path: '../icons/start.svg';
$icon-choose-path: '../icons/choose.svg';
$icon-build-path: '../icons/build.svg'; 
$icon-community-path: '../icons/community.svg'; 
$icon-availability-path: '../icons/availability.svg'; 
$icon-convenience-path: '../icons/convenience.svg'; 
$icon-describe-path: '../icons/describe.svg'; 
$icon-editorial-path: '../icons/editorial.svg'; 
//----------------------------------------------------//
//Colors
$color-white: #fff;
$color-gray: #F7F7F7;
$color-black: #000;
$color-accent: #F78065;
//----------------------------------------------------//