@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: Merriweather-Black;
  src: url(../fonts/Merriweather-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Black-Italic;
  src: url(../fonts/Merriweather-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Merriweather-Bold;
  src: url(../fonts/Merriweather-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Bold-Italic;
  src: url(../fonts/Merriweather-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Italic;
  src: url(../fonts/Merriweather-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Merriweather-Light;
  src: url(../fonts/Merriweather-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Light-Italic;
  src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* line 54, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
html {
  font-family: montserrat, Arial, Helvetica, sans-serif;
}

/* line 57, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h1, h2, h3,
h4, h5, h6 {
  font-family: Merriweather-Bold, Garamond, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
}

/* line 63, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h1 {
  font-size: 2.44em;
}

/* line 66, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h2 {
  font-size: 2.25em;
}

/* line 69, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h3 {
  font-size: 1.5em;
}

/* line 72, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h4 {
  font-size: 1.37em;
}

/* line 75, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h5 {
  font-size: 1.12em;
}

/* line 78, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 81, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 86, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
.text-accent, .text-accent-bold {
  color: #F78065;
}

/* line 88, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
.text-accent-bold {
  font-weight: bold;
}

/* line 93, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
.text-size08 {
  font-size: 0.875em;
}

/* line 96, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
.text-size11 {
  font-size: 1.12em;
}

/* line 99, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_typography.scss */
.text-size15 {
  font-size: 1.5em;
}

/* line 2, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
.button {
  text-decoration: none;
  color: #fff;
  background-color: #F78065;
  display: block;
  width: 250px;
  height: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125em;
  font-weight: 700;
}

/* line 15, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
.button:hover, .button:focus {
  background-color: #f45835;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
.button-start:before {
  content: "";
  background-image: url("../icons/start.svg");
  width: 24px;
  height: 24px;
  color: #F78065;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
.button-web:before {
  content: "";
  background-image: url("../icons/globe.svg");
  width: 24px;
  height: 24px;
  color: #F78065;
  display: block;
  margin-right: 8px;
}

/* line 34, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
.content-wrapper {
  max-width: 799px;
  min-width: 360px;
}

/* line 39, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
header #header-bg {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 360px;
  padding-top: 45.13%;
}

/* line 46, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
header #call-to-action {
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

/* line 50, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
header #call-to-action-title {
  font-size: 2em;
}

/* line 53, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
header #call-to-action-text {
  font-size: 1.25em;
}

/* line 56, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
header #call-to-action-button {
  margin: auto;
}

/* line 61, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
section {
  margin-top: 50px;
  padding: 10px;
}

/* line 64, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
section a {
  text-decoration: none;
}

/* line 66, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
section a:hover:not(.button), section a:focus:not(.button) {
  filter: brightness(90%);
  text-decoration: underline;
}

/* line 72, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
section article + article {
  margin-top: 50px;
}

/* line 78, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
#possibilities article {
  display: flex;
  flex-direction: column;
}

/* line 81, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
#possibilities article img {
  align-self: center;
  width: 80%;
  max-width: 320px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-choose:before {
  content: "";
  background-image: url("../icons/choose.svg");
  width: 32px;
  height: 32px;
  color: #fff;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-describe:before {
  content: "";
  background-image: url("../icons/describe.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-build:before {
  content: "";
  background-image: url("../icons/build.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-availability:before {
  content: "";
  background-image: url("../icons/availability.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 116, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
#community {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 120, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
#community-cta {
  display: flex;
  flex-direction: column;
}

/* line 123, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
#community-cta p {
  text-align: center;
}

/* line 126, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
#community-cta .button {
  align-self: center;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#advantages-convenience:before {
  content: "";
  background-image: url("../icons/convenience.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#advantages-editorial:before {
  content: "";
  background-image: url("../icons/editorial.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#advantages-community:before {
  content: "";
  background-image: url("../icons/community.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 154, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
}

/* line 159, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer hr {
  border-color: #000;
  border: 0 0 1px 0;
  width: 98%;
  opacity: 0.5;
}

/* line 165, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer h3 {
  text-align: center;
}

/* line 168, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer #about {
  margin-top: 10px;
}

/* line 171, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer blockquote {
  margin: auto;
  width: 150px;
  font-size: 3em;
  font-family: Merriweather-Bold;
  font-weight: 700;
  font-style: normal;
}

/* line 179, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer ul {
  list-style: none;
  padding: 0;
}

/* line 182, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer ul a {
  color: #000;
}

/* line 184, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer ul a:visited {
  color: #000;
}

/* line 187, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_mobile.scss */
footer ul a:hover, footer ul a:focus {
  color: #1a1a1a;
}

@media only screen and (min-width: 800px) {
  /* line 3, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  .content-wrapper {
    min-width: 800px;
    max-width: 1440px;
    margin: auto;
  }
  /* line 9, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  header {
    position: relative;
    margin-bottom: 392px;
  }
  /* line 11, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  header #call-to-action {
    box-sizing: border-box;
    position: absolute;
    width: 741px;
    height: 537px;
    margin-left: 63px;
    bottom: -264px;
    padding: 96px 150px 75px 64px;
  }
  /* line 19, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  header #call-to-action-button {
    margin: 0;
  }
  /* line 25, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  section:not(#sitemap):not(#about) {
    padding: 0 100px;
  }
  /* line 28, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  section  article + article {
    margin-top: 0px;
  }
  /* line 34, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #possibilities-wrapper {
    display: flex;
    justify-content: space-around;
  }
  /* line 37, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #possibilities-wrapper article {
    display: grid;
    grid-template-rows: 247px 120px 80px 120px;
    width: 386px;
  }
  /* line 41, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #possibilities-wrapper article img {
    width: 64%;
  }
  /* line 48, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #tools {
    margin-bottom: 260px;
  }
  /* line 50, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #tools-wrapper {
    display: grid;
    grid-template-areas: "title title" "b c" "d e";
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
}

@media only screen and (min-width: 800px) and (min-width: 1150px) {
  /* line 50, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #tools-wrapper {
    grid-template-areas: "title title title title" "b c d e";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  /* line 64, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #tools-wrapper h2 {
    grid-area: title;
    margin-bottom: 108px;
  }
  /* line 68, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #tools-wrapper h4 {
    margin-top: 64px;
  }
  /* line 71, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #tools-wrapper article {
    display: grid;
    grid-template-rows: auto auto 75px auto;
  }
  /* line 77, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #community {
    display: block;
    margin-bottom: 232px;
  }
  /* line 80, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #community-wrapper {
    display: grid;
    grid-template-columns: 440px 1fr 1fr 1fr;
  }
  /* line 83, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #community-wrapper #community-cta {
    display: block;
    padding-right: 100px;
  }
  /* line 86, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #community-wrapper #community-cta p {
    text-align: left;
  }
  /* line 93, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #advantages {
    margin-bottom: 251px;
  }
  /* line 95, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #advantages-wrapper {
    display: grid;
    grid-template-areas: "title title title" "b c d";
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* line 101, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #advantages-wrapper article {
    display: grid;
    grid-template-rows: 96px 80px auto;
  }
  /* line 105, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #advantages-wrapper article + article {
    margin-left: 41px;
  }
  /* line 109, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  #advantages h2 {
    grid-area: title;
    margin-bottom: 108px;
  }
  /* line 114, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer {
    padding: 96px 103px 65px 103px;
    display: block;
  }
  /* line 117, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer #sitemap {
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
  }
  /* line 119, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer #sitemap h3 {
    text-align: left;
  }
  /* line 122, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer #sitemap li {
    margin-bottom: 24px;
  }
  /* line 128, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer hr {
    margin-bottom: 18px;
  }
  /* line 131, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer #about {
    display: flex;
  }
  /* line 133, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer #about .link-list-flat {
    margin-left: auto;
    display: flex;
  }
  /* line 136, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/layout/_800.scss */
  footer #about .link-list-flat li + li {
    margin-left: 48px;
  }
}

/*# sourceMappingURL=style.css.map */