@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: Merriweather-Black;
  src: url(../fonts/Merriweather-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Black-Italic;
  src: url(../fonts/Merriweather-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Merriweather-Bold;
  src: url(../fonts/Merriweather-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Bold-Italic;
  src: url(../fonts/Merriweather-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Italic;
  src: url(../fonts/Merriweather-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Merriweather-Light;
  src: url(../fonts/Merriweather-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Merriweather-Light-Italic;
  src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* line 6, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
html {
  font-family: montserrat, Arial, Helvetica, sans-serif;
}

/* line 9, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h1, h2, h3,
h4, h5, h6 {
  font-family: Merriweather-Bold, Garamond, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
}

/* line 15, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h1 {
  font-size: 2.44em;
}

/* line 18, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h2 {
  font-size: 2.25em;
}

/* line 21, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h3 {
  font-size: 1.5em;
}

/* line 24, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h4 {
  font-size: 1.37em;
}

/* line 27, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h5 {
  font-size: 1.12em;
}

/* line 30, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
h6 {
  font-size: 1em;
}

/* line 33, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 38, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.text-accent, .text-accent-bold {
  color: #F78065;
}

/* line 40, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.text-accent-bold {
  font-weight: bold;
}

/* line 45, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.text-size08 {
  font-size: 0.875em;
}

/* line 48, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.text-size11 {
  font-size: 1.12em;
}

/* line 51, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.text-size15 {
  font-size: 1.5em;
}

/* line 55, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.button {
  text-decoration: none;
  color: #fff;
  background-color: #F78065;
  display: block;
  width: 250px;
  height: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125em;
  font-weight: 700;
}

/* line 68, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
.button:hover, .button:focus {
  background-color: #f45835;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
.button-start:before {
  content: "";
  background-image: url("../icons/start.svg");
  width: 24px;
  height: 24px;
  color: #F78065;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
.button-web:before {
  content: "";
  background-image: url("../icons/globe.svg");
  width: 24px;
  height: 24px;
  color: #F78065;
  display: block;
  margin-right: 8px;
}

/* line 87, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
header #header-bg {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 360px;
  min-height: 200px;
  height: 55vw;
}

/* line 95, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
header #call-to-action {
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* line 99, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
header #call-to-action-title {
  font-size: 2em;
}

/* line 102, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
header #call-to-action-button {
  margin: auto;
}

/* line 107, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
section {
  margin-top: 50px;
  padding: 10px;
}

/* line 110, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
section a {
  text-decoration: none;
}

/* line 112, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
section a:hover:not(.button), section a:focus:not(.button) {
  filter: brightness(90%);
  text-decoration: underline;
}

/* line 118, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
section article + article {
  margin-top: 50px;
}

/* line 124, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
#possibilities article {
  display: flex;
  flex-direction: column;
}

/* line 127, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
#possibilities article img {
  align-self: center;
  width: 80%;
  max-width: 320px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-choose:before {
  content: "";
  background-image: url("../icons/choose.svg");
  width: 32px;
  height: 32px;
  color: #fff;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-describe:before {
  content: "";
  background-image: url("../icons/describe.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-build:before {
  content: "";
  background-image: url("../icons/build.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#tools-availability:before {
  content: "";
  background-image: url("../icons/availability.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 162, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
#community {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 166, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
#community-cta {
  display: flex;
  flex-direction: column;
}

/* line 169, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
#community-cta p {
  text-align: center;
}

/* line 172, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
#community-cta .button {
  align-self: center;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#advantages-convenience:before {
  content: "";
  background-image: url("../icons/convenience.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#advantages-editorial:before {
  content: "";
  background-image: url("../icons/editorial.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 7, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mixins.scss */
#advantages-community:before {
  content: "";
  background-image: url("../icons/community.svg");
  width: 32px;
  height: 32px;
  color: #000;
  display: block;
  margin-right: 8px;
}

/* line 200, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
}

/* line 205, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer hr {
  border-color: #000;
  border: 0 0 1px 0;
  width: 98%;
  opacity: 0.5;
}

/* line 211, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer h3 {
  text-align: center;
}

/* line 214, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer #about {
  margin-top: 10px;
}

/* line 217, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer blockquote {
  margin: auto;
  width: 150px;
  font-size: 3em;
  font-family: Merriweather-Bold;
  font-weight: 700;
  font-style: normal;
}

/* line 225, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer ul {
  list-style: none;
  padding: 0;
}

/* line 228, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer ul a {
  color: #000;
}

/* line 230, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer ul a:visited {
  color: #000;
}

/* line 233, ../../OneDrive/Documents/BeCode/challenge-design/assets/scss/_mobile.scss */
footer ul a:hover, footer ul a:focus {
  color: #1a1a1a;
}

/*# sourceMappingURL=style.css.map */